In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weatherpy_cities.csv', encoding = 'utf-8')

df.head()

,City ID,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Chui,-33.6971,-53.4616,15.89,89,100,6.81,UY,1647652775
1,1,Hithadhoo,-0.6000,73.0833,28.40,74,100,7.42,MV,1647652579
2,2,Richards Bay,-28.7830,32.0377,18.26,85,9,1.92,ZA,1647652776
3,3,Ahipara,-35.1667,173.1667,20.66,77,27,2.72,NZ,1647652777
4,4,Punta Arenas,-53.1500,-70.9167,5.62,65,0,2.06,CL,1647652551

In [5]:
df.to_html('../data.html')